@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "/components/light";

body {
    height:100%;
    background-color: #F4F4F4;
}
.flexbox {
    display: flex;
    flex-direction: row;
}